{% extends "ProjetInvestCoreBundle::layout.html.twig" %}

{% block title %}
	Projets - {{ parent() }}
{% endblock %}

{% block h1 %}
	Accueil sur cette présentation des Projets à soutenir
{% endblock %}

{% block body %}
	<h1>Projets</h1>

	<hr>

	{% block presentation_body %}
	{% endblock %}
{% endblock %}